.git
./deploy
**/node_modules
**/dist
**/.cache
**/.next/cache
**/build
**/coverage
**/.env*
**/*.log
*/config/prod.ts
*/config/*.key.txt
*/config/stage.ts
!app/.env.local
.env
.env-prod
.env-stage
.DS_Store
Dockerfile